* {
  font-family: 'Montserrat';
  box-sizing: border-box;
}

.repaint-fon {
  left: 975px;
  top: 346px;
  width: 200px;
  height: 60px; 
  position: absolute;
  font-size: 20px;
  background-color: #12eeb7;
}

.active {
  background-color: #0817ee;
}

.recolor-card-all {
  width: 200px;
  height: 60px;
  left: 975px;
  position: absolute;
}

.recolor-card {
  width: 200px;
  height: 60px;
  left: 975px;
  top: 70px;
  position: absolute;
}

.transition-google {
  width: 200px;
  height: 60px;
  left: 975px;
  top: 132px;
  position: absolute;
}

.product-card__title {
  position: absolute;
  width: 846px;
  height: 78px;
  left: 217px;
  top: 200px;
  font-weight: 400;
  font-size: 70px;
  line-height: 70px;
  color: #515076;
}

.product-card__img-fon {
  width: 790px;
  height: 697px;
  top: 0;
  left: 105px;
  position: absolute;
  z-index: -1;
}

.product-card-wrapper {
  width: 1110px;
  height: 1191px;
  position: absolute;
  top: 408px;
  left: 85px;
  border: 1px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 25px;
}

.product-card {
  width: 340px;
  height: 573px;
  background: #F7F7FA;
  padding: 25px;
}

.product-card__img {
  display: block;
  width: 290px;
}

.product-card__normal-skin {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #A5A3B9;
}

.product-card__subtitle {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #515076;
}

.product-card__descr {
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #515076;
}

.product-card__composition {
  margin: 0 auto;
  padding-left: 15px;
}

.product-card__compound {
  font-weight: 400;
  font-size: 13px;
  line-height: 13px;
  color: #515076;
  margin-top: 50px;
}

.product-card__item {
  font-weight: 400;
  font-size: 13px;
  padding-top: 10px;
  line-height: 13px;
  color: #515076;
}

.product-card__price-wrapper {
  padding-top: 30px;
  display: flex;
  position: relative;
  justify-content: space-between;
}

.product-card__price-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #515076;
}

.product-card__price {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #515076;
}

.product-card-gift-set-one {
  width: 340px;
  height: 573px;
  background: #F7F7FA;
}

.product-card-gift-set-five {
  width: 340px;
  height: 573px;
  background: #F7F7FA;
}

